/* Ocultar las opciones secundarias */
.menu ul ul {
    display: none;
  }
  
  /* Mostrar las opciones secundarias al hacer clic en el elemento padre */
  .menu ul li:hover ul {
    display: block;
  }
  
  /* Ocultar las opciones secundarias de las opciones secundarias */
  .menu ul ul ul {
    display: none;
  }
  
  /* Mostrar las opciones secundarias de las opciones secundarias al hacer clic en el elemento padre */
  .menu ul ul li:hover ul {
    display: block;
  }


  
nav ul { 
  list-style: none; 
  padding: 0; 
  margin: 0; 
} 
 
nav ul li { 
  display: inline-block; 
} 
 
nav ul li a { 
  display: block; 
  padding: 10px; 
  text-decoration: none; 
} 
 
nav ul ul { 
  display: none; 
  position: absolute; 
  background-color: #ccc; 
} 
 
nav ul li:hover > ul { 
  display: inherit; 
} 
 
nav ul ul li { 
  width: 100%; 
  float: none; 
  position: relative; 
} 
 
nav ul ul ul li { 
  position: relative; 
  top: -60px; 
  left: 150px; 
} 
 
nav ul li a:hover { 
  background-color: #999; }